html {
	height: 100%;
}
a {
	outline: none;
}
body {
	/*background: url(../../images/fond.jpg);*/
	background: #CBC9BB;
	position: relative;
	height: 100%;
}











/*------------------
------------HEADER*/

.header {
	background: rgba(181,181,181,0.9);
	position: relative;
} 

.header h1 {
	text-align: center;
	font-size: 70px;
	color: #333333;
}

.header a {
	text-decoration: none;
}
.header_lien ul li{
	display: inline-block;
	margin-right: 20px;
}

.header_lien ul li a {
	text-decoration: none;
	font-size: 17px;
	color: #333333;
}

.header_lien ul li a:hover {
	color: #FFFFFF;
}
.header_lien ul {
		text-align: left;
		padding: 0;
}

.search_site {
	width: 1170px;
	margin: auto;
	margin-top: 0!important;
}

.input_search_site {
	border: none;
	border-bottom: 1px dashed rgba(128, 128, 128, 0.5);
	padding: 5px 5px;
	background: #D3D2C6;
}











/*------------------
------------ADMIN */

.admin {
	background: rgba(240, 238, 223,1);
}
.admin .label-input, .search_site .label-input {
	padding: 0;
}
.admin .panier {
	margin: 20px 0;
	letter-spacing: 0.2em;
}











/*------------------
------------LOGIN--PROFIL*/

.login {
	text-align: right;
	margin-bottom: 10px;
	position: relative;
}
#header_log{
	display: inline-block;
}

.signup, .signin, .log-off, .compte {
	background: #BABAB8;
	border: 1px solid #EBE9DB;
	color: white;
	font-weight: bold;
	padding: 5px 5px;
	margin: 0;
	display: inline-block;
}

.add_article, .administration {
	margin-bottom: 15px;
}
.add_article a, .administration a{
	background: #BABAB8;
	border: 1px solid #EBE9DB;
	color: white;
	font-weight: bold;
	padding: 5px 5px;
	text-align: center;
}
.creer_compte {
	background: #DE0E4D;
/*	border: 1px solid #DE0E4D;*/
	color: white;
	font-weight: bold;
	margin: 0;
	text-transform: uppercase;
	letter-spacing: 0.02em;
	border: none;
	width: 90px;
	padding: 5px 55px;
}
#ua_ok{
	display: none;
}
.entete_user_add {
	background: #F0EEDF;
	padding: 10px;
	font-size: 20px;	
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.1em;
	vertical-align: top;
}
.entete_user_add p {
	margin: 0;
}


.mdp_oubli {
	font-size: 12px;
	font-style: italic;
	display: block;
	line-height: 0.2em;
	height: 15px;
}

.wrapper_form_nav {
	background: #CAC8BD;
	text-align: center;
	margin: 10px 0;
}

.inscription {
	text-align: center;
	display: none;
	margin: 10px 0;
}
.connection {
	text-align: center;
	display: none;
	margin: 10px 0;
	display: none;
}

.fermer_add_user, .fermer_connect, .fermer_panier {
	border-radius: 50%;
	background: #B9B9B8;
	padding: 1px 6px;
	font-size: 15px;
	display: inline-block;
	cursor: pointer;
	font-weight: bold;
	color: #F0EEDF;
	vertical-align: top;
}
.user_add .label_input, .user_connect .label_input, .produit_add .label_input, .actualisation_user .label_input {
	display: inline-block;
	margin: 20px 0 10px 0;
}

.user_add label, .user_connect label, .produit_add label {
	display: block;
	text-align: left;
	font-weight: normal;
	font-size: 12px;
	margin: 0;
}
.user_add input, .user_connect  input, .produit_add input, .produit_add select, .actualisation_user input, .actualisation_user select {
	padding: 5px 5px;
	background: #D5D3C8;
	border: none;
	width: 144px;
	font-size: 12px;
}

.produit_add input, .produit_add select {
	width: 100%;
}

.produit_add textarea {
	padding: 5px 5px;
	background: #D5D3C8;
	border: none;
	width: 100%;
	height: 200px;
	margin-bottom: 20px;
}

.produit_add {
	text-align: center;
	margin: 20px 0;
 }

 .image_add {
 	margin-top: 10px;
 }

#result_search {
 	padding: 20px;
 }
 #result_search_site {
 	min-height: 0;
 }
.resultat_search, .resultat_search_site {
 	background: #D5D3C8;
 	margin: 0;
 	padding: 10px;
 	border-bottom: 1px solid #B9B8B7;
 }
.resultat_search_site:hover, .resultat_search:hover {
	background: #B9B8B7;
}
 .resultat_search p, .resultat_search_site p {
 	margin: 0;
 	cursor: pointer;
 }
.resultat_search_site a {
	text-decoration: none;
	color: #333333;
	outline: none;
}










/*------------------
------------PANIER*/

.panier {
	background: rgba(222, 14 ,77, 1);
	border: 1px solid #DE0E4D;
	color: white;
	font-weight: bold;
	padding: 5px 5px;
	margin: 0;
}
.panier:hover, #close_panier:hover {
	background: rgba(222, 14 ,77, 0.9);
}
.panier_wrapper{
	display: none;
	font-size: 12px;
	text-align: right;
	position: fixed;
	top: 20%;
	right: 15%;
	left: 15%;
	bottom: 10%;
	z-index: 11000;
	overflow-y: scroll;
	background: #fff;
	padding: 15px;
	border-radius: 5px;
	box-shadow: 4px 4px 1px rgba(128, 128, 128, 0.8);
}
#close_panier {
	background: rgba(222, 14 ,77, 1);
	border: none;
	color: white;
	font-weight: bold;
	padding: 0 5px;
}
.header_panier {
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.1em;
	border-bottom: 1px dashed rgba(128, 128, 128, 1);
	margin-bottom: 10px;
	padding-bottom: 5px;
}
.panier_liste {
	padding-bottom: 15px;
	position: relative;
	height: 95%;
}
.ref_panier {
	text-align: left;
}
.item_panier {
	margin-bottom: 10px;
}
.panier_supp_link {
	border-radius: 25%;
	background: none repeat scroll 0% 0% #B9B9B8;
	padding: 1px 5px;
	font-size: 9px;
	display: inline-block;
	cursor: pointer;
	font-weight: bold;
	color: #FFF;
	vertical-align: top;
}
.nom_prod_panier {
	font-size: 15px;
	text-align: left;
	border-bottom: 1px dashed rgba(128, 128, 128, 0.2);
	padding-left: 0px;
}
.nom_prod_panier:hover {
	background: rgba(5, 5, 5, 0.1);
}
.quant_panier input{
	width: 40px;
	text-align: center;
}
.footer_panier {
	position: absolute;
	bottom: 0px;
	width: 102%;
}
.separator_panier {
	text-align: right;
	border-bottom: 1px solid rgba(128, 128, 128, 1);
	margin-bottom: 4px;
	padding: 0 20px;
}
.mentions_panier {
	font-size: 10px;
	text-align: justify;
}
.footer_panier .col-sm-4 button {
	background: rgba(222, 14 ,77, 1);
	border: 1px solid #DE0E4D;
	color: white;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	width: 100%;
	padding: 10px 10px;
	margin: 0;
}
.connect_panier {
	text-align: center;
}
.footer_panier .col-sm-3 {
	margin-top: -12px;
}
.panier_maj {
	text-align: right;
	display: none;
	margin: 10px 0;
	display: none;
}
.payer_panier {
	background: #DE0E4D;
	border: 1px solid #DE0E4D;
	color: white;
	font-weight: bold;
	padding: 5px 5px;
	margin: 0;
}












/*------------------
------------CATEGORY LISTE*/
.category_liste {
	background: rgba(181,181,181,0.2);
	overflow: hidden;
	padding: 15px;
	height: 350px;
	margin: 50px 10px 25px 10px;
	position: relative;
}

.category_liste img {
	padding: 0;
}

.category_liste a {
	margin-top: 10px;
	font-size: 20px;
	color: #333333;
	text-align: center;
}

.category_liste h3 {
	font-size: 20px;
	position: absolute;
	bottom: 0;
	right: 0;
}

.category_liste .liste_prix {
	text-align: right;
	font-size: 50px;
	color: #DE0E4D;
	padding-right: 20px; 
}

.category_liste h3 span {
	font-size: 15px;
}











/*------------------
------------PRODUIT SINGLE */
.produit {
	background: rgba(181,181,181,0.2);
	overflow: hidden;
	margin-top: 50px;
	margin-bottom: 50px;
	padding-bottom: 20px;
}

.produit h2 {
	font-size: 50px;
}

.bx-wrapper .bx-viewport {
	border: none;
}

.caroussel {
	padding: 0;
}
.wrapper-caroussel img {
	width: 100%;
}

.add_panier{
	font-size: 20px;
	display: block;
	padding: 10px 10px;
	text-transform: uppercase;
	background: #DE0E4D;
	color: white;
	border: none;
}

.produit_note {
	font-size: 12px;
	font-weight: bold;
}

.produit_commentaire {
	font-size: 20px;
	text-decoration: none;
	padding: 10px;
	background: white;
	border-radius: 5px;
	margin: 20px;
	display: inline-block;
}

.produit_descriptif {
	padding: 0 20px;
}

.add_commentaire {
	font-size: 15px;
	padding: 5px;
}

.mce_hide {
	display: none;
}

.produit_prix, .montant_panier {
	text-align: right;
	font-size: 50px;
	color: #DE0E4D;
	padding-right: 20px; 
}

.suppr {
	display: none;
}
.commentaire {
	background: #B9B9B7;
	margin: 0 20px;
	padding: 0 0 10px;
	border-radius: 5px;
	box-shadow: 3px 3px 0px rgba(128, 128, 128, 1);
}
.commentaire_single {
	margin: none;
	padding: 0 10px 40px;
	border-bottom: 1px dashed rgba(128, 128, 128, 1);
}
.commentaire .add_commentaire {
	color: white;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	background: rgba(128, 128, 128, 1);
	border: none;
	border-radius: 5px 5px 0 0;
	width: 100%;
	margin-bottom: 10px;

}
.commentaire .add_commentaire:hover {
	background: rgba(128, 128, 128, 0.5);
}
.commentaire_single h2 {
	font-size: 11px;
	font-style: italic;
	}
.user_commentaire {
	font-style: normal;
	font-size: 14px;
	background: #F1EFE0;
	padding: 1px 3px;
	border-radius: 2px;
}
.note {
	font-weight: bold;
	font-size: 13px;
}
.commentaire_single p {
	margin: 0;
}











/*------------------
------------FOOTER*/
.wrap {
	min-height: 73%;
}
.footer {
	background: rgba(181,181,181,0.9);
	position: absolute;
	border:0;
	right: 0;
	left: 0;
	height: 27%;
}

.footer_image {
	width: 100px;
	opacity: 0.8;
}
.footer_lien ul li{
	display: block;
	margin-right: 20px;
}

.footer_lien ul li a {
	text-decoration: none;
	font-size: 17px;
	color: #333333;
}

.footer_lien ul li a:hover {
	color: #FFFFFF;
}
.footer_lien ul {
		text-align: left;
		padding: 0;
}
.flaticon a {
	text-decoration: none;
}
.flaticon i, .flaticon i::before {
	color: black;
	font-size: 40px;
	transition: 1s linear;
}

.flaticon a:hover i::before {
	color: #DE0E4D;
	text-align: center;
}

header li 
{
	display:inline-block;
}

.premonitoire-imagetitre
{
	margin : 0 auto;
	color: #DE0E4D;
}